@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the talk that will likely make you cringe about something you did in the past.</h1>
</div>
