@page
@model SecurityHeadersDemo.Pages.Shopping.CarsModel
@{
    ViewData["Title"] = "Items";
}

@if (Model.LastItemAdded != null)
{
    <div class="alert alert-success">
        Added @Model.LastItemAdded to the cart.
    </div>
}

<h2>Buy cars online because why not</h2>

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div>
                        <img src="~/images/model3.png" alt="Model 3" class="img-responsive center-block" style="width: 300px;" />
                        Tesla Model 3
                    </div>
                    <strong>$30,000</strong>
                    <div style="padding-top: 3rem;">
                        <button class="btn btn-primary" asp-route-itemId="@AllItems.Model3.ItemId">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div>
                        <img src="~/images/models.png" alt="Model S" class="img-responsive center-block" style="width: 270px;" />
                        Tesla Model S
                    </div>
                    <strong>$80,000</strong>
                    <div style="padding-top: 3rem;">
                        <button class="btn btn-primary" asp-route-itemId="@AllItems.ModelS.ItemId">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div>
                        <img src="~/images/modelx.png" alt="Model X" class="img-responsive center-block" style="width:260px;"/>
                        Tesla Model X
                    </div>
                    <strong>$80,000</strong>
                    <div style="padding-top: 3rem;">
                        <button class="btn btn-primary" asp-route-itemId="@AllItems.ModelX.ItemId">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>